# Beheerd door Ansible - handmatige wijzigingen gaan verloren bij de volgende playbook-run.
# Wordt pas actief zodra k3s_registry_mirrors_enabled: true (zie document 7b).
mirrors:
  "registry.thuis.lan:5000":
    endpoint:
      - "http://registry.thuis.lan:5000"
