mirrors:
  "registry.argotal.com":
    endpoint:
      - "https://registry.argotal.com"
configs:
  "registry.argotal.com":
    auth:
      username: ruud
      password: "{{ lookup('env', 'ZOT_REGISTRY_PASSWORD') }}"
